.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 26px;
    border: 1px solid #808080;
    border-radius: 8px;
    background-color: transparent;
    color: #030303;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        fill: #030303;
        transition: fill 0.2s ease-out;

        @media screen and (max-width: $sm) {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }

    &:focus,
    &:hover {
        outline: none;
        background-color: #030303;
        color: #fff;

        .button__icon {
            fill: #fff;
        }

        @media screen and (max-width: $sm) {
            background-color: #fff;
            color: #030303;

            .button__icon {
                fill: #030303;
            }
        }
    }

    @media screen and (max-width: $lg) {
        padding: 16px 20px;
    }

    @media screen and (max-width: $sm) {
        padding: 8px 12px;
        font-size: 1.3rem;
    }
}
