.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100vw;
	height: 100vh;
	padding: 0 20px;
	background-color: rgba(43, 43, 43, 0.8);

	&--visible {
		display: block;
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70vw;
		height: 85vh;
		background-color: $black;

		@media screen and (max-width: $xl) {
			width: 50vw;
			height: 70vh;
		}

		@media screen and (max-width: $lg) {
			width: 80vw;
		}

		@media screen and (max-width: $md) {
			height: 50vh;
		}

		@media screen and (max-width: $sm) {
			height: 40vh;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: -35px;
		width: 20px;
		height: 20px;
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:focus-visible,
		&:hover {
			outline: none;

			.icon-button__icon {
				fill: #c40b0b;
			}
		}

		.icon-button__icon {
			width: 100%;
			height: 100%;
			fill: #fff;
			transition: fill 0.2s ease-out;
		}

		@media (max-width: $lg) {
			&:focus-visible,
			&:hover {
				.icon-button__icon {
					fill: #fff;
				}
			}
		}

		@media (max-width: $sm) {
			top: -30px;
			right: 0;
		}
	}

	&__video {
		height: 100%;

		&--error {
			.modal__error {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__error {
		display: none;
		height: 100%;
		color: #f9f9f9;
	}

	&__error-title {
		font-size: 6rem;

		@media screen and (max-width: $xl) {
			font-size: 5rem;
		}

		@media screen and (max-width: $md) {
			font-size: 4rem;
		}
	}

	&__error-description {
		margin-top: 20px;
		font-size: 3rem;
		line-height: 4.6rem;
		text-align: center;

		@media screen and (max-width: $xl) {
			font-size: 2rem;
			line-height: 3.6rem;
		}
		
		@media screen and (max-width: $md) {
			font-size: 1.8rem;
			line-height: 2.6rem;
		}
	}
}
