.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100vw;
	height: 100vh;
	padding: 0 20px;
	background-color: rgba(43, 43, 43, 0.8);

	&--visible {
		display: block;
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50vw;
		height: 70vh;
		background-color: #f5f5f5;
	}

	&__close {
		position: absolute;
		top: 0;
		right: -35px;
		width: 20px;
		height: 20px;
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:focus-visible,
		&:hover {
			outline: none;

			.icon-button__icon {
				fill: #c40b0b;
			}
		}

		.icon-button__icon {
			width: 100%;
			height: 100%;
			fill: #fff;
			transition: fill 0.2s ease-out;
		}

		@media (max-width: $lg) {
			&:focus-visible,
			&:hover {
				.icon-button__icon {
					fill: #fff;
				}
			}
		}

		@media (max-width: $sm) {
			top: -30px;
			right: 0;
		}
	}
}
