.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;

	@media screen and (max-width: $md) {
		position: absolute;
		top: 0;
		left: -100vw;
		bottom: 0;
		z-index: 500;
		justify-content: flex-start;
		width: 50vw;
		padding: 80px 20px 40px 50px;
		background-color: #fff;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
		transition: left 0.3s ease-out;

		&--active {
			left: 0;
		}

		@media screen and (max-width: $sm) {
			width: 75vw;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 500;
		display: none;

		@media screen and (max-width: $md) {
			display: inline-block;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
	}

	&__link {
		position: relative;
		width: fit-content;
		margin-bottom: 25px;
		padding: 5px 0;
		color: $gray;
		font-size: 2.2rem;
		font-weight: 300;
		line-height: 3.3rem;
		text-decoration: none;

		&:last-child {
			margin-bottom: 0;
		}

		&--new {
			&::after {
				content: "New";
				position: absolute;
				top: 50%;
				right: -50px;
				transform: translateY(-50%);
				padding: 3px 8px;
				border-radius: 40px;
				background-color: $black-op2;
				color: #fff;
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
		}
	}

	&__slogan {
		display: flex;
		font-size: 4rem;
		font-weight: 300;

		@media screen and (max-width: $md) {
			display: none;
		}
	}

	&__col--inversed {
		background-color: $black;
		color: #fff;
		font-weight: 400;
	}

	&__more {
		position: relative;
		margin-top: 40px;
		padding: 0 25px 0 10px;
		text-align: right;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			width: 48px;
			height: 1px;
			background-color: $black;

			@media screen and (max-width: $lg) {
				display: none;
			}
		}

		@media screen and (max-width: $lg) {
			padding: 0;
			text-align: unset;
		}
	}

	&__more-link {
		color: $black;
		font-size: 1.5rem;
		line-height: 2.3rem;
		text-decoration: none;
	}

	&__scroll-notice {
		padding-left: 20px;
		font-size: 1.2rem;
		line-height: 1.9rem;

		@media screen and (max-width: $md) {
			display: none;
		}
	}
}
