*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	margin: 0;
	padding: 105px 80px;
	background-color: #dee1e6;
	font-family: "Sofia Pro", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	height: 100%;
	padding: 40px 50px;
	border-radius: 0 0 11px 11px;
	background-color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
